<div class="squish">
	<h1>About</h1>

	<h2>The Project</h2>
	<p>The Dopey 2D Animation program was started in May 2013 when an old fork of <a href="http://mypaint.intilinux.com">MyPaint</a>, "xsheet-mypaint" was forked an updated to the latest MyPaint core.</p>

	<h2>Why "Dopey"?</h2>
	<p>The name "Dopey" was chosen for three main reasons:</p>
	<ol>
		<li>Analogue traditional 2D animaiton uses a tool called a "Dope sheet", "Exposure sheet" or "X-sheet". <a href="http://en.wikipedia.org/wiki/Exposure_sheet">Read more on Wikipedia</a>.</li>
		<li>To reference one of the dwarves in Disney's 1937 animation production of "Snow White"</li>
		<li>Because we try not to take ourselves too seriously</li>
	</ol>

	<h1>Contributors</h1>
	<p>Dopey would not be possible without the MyPaint project or the original "xsheet-mypaint" project created by Manuel Quiñones. To see the full list of contributors, see <a href="https://github.com/dopeyanimation/dopey/graphs/contributors">the contributors page</a> on GitHub.</p>

	<h1>Contact</h1>
	<p><a href="http://davissorenson.com">Davis Sorenson</a> is the current maintainer of Dopey. You can email him at <a href="mailto:davis@dopeyanimation.org">davis@dopeyanimation.org</a>.</p>
</div>
