<div class="squish">
	<h1>Download</h1>

	<h2>Ubuntu&#x200A;/&#x200A;Debian</h2>
	<p>Ubuntu build details</p>

	<h2>Windows</h2>
	<p>Windows build details</p>

	<h2>OS X</h2>
	<p>Unfortunately the developers have limited access to a Mac, so right now there is no OS X build.</p>

	<h2>Build from source</h2>
	<p>See <a href="https://github.com/dopeyanimation/dopey/wiki/Building">the wiki entry</a> on building from source. It's easiest on Debian or Debian-based distros.</p>
</div>