<div class="squish">
	<h1>Help</h1>
	<p>Currently, the way to get Dopey-related help is to either look on the <a href="https://github.com/dopeyanimation/dopey/wiki">Dopey Wiki</a> or contact the maintainer, <a href="http://davissorenson.com/">Davis Sorenson</a>. He can be reached at <a href="mailto:davis@dopeyanimation.org">davis@dopeyanimation.org</a> or @<a href="http://twitter.com/dopeyanimation">dopeyanimation</a>&#x200A;/&#x200A;@<a href="http://twitter.com/dopeyanimation">davissorenson</a> on Twitter.</p>
</div>