<section>
	<div id="hero">
		<div class="slider">
			<div class="slide tube">
				<!-- <img src="assets/i/tube.jpg" alt=""> -->
				<div class="squish">
					<div class="overlay">
						<h1 class="large">Animate in both D's</h1>
						<div id="download-button">
							{{#linkTo 'download'}}
								<h2>Download</h2>
								<span>&ndash; Free/Open Source</span>
							{{/linkTo}}
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="slide other">
				<img src="" alt="">
				<div class="squish">
					<div class="overlay">
						<h1 class="large">Groundbreaking technology simulates stuff that's pretty cheap really</h1>
					</div>
				</div>
			</div> -->
		</div>
	</div>

	<div id="lookatthis" class="squish">
		<!-- neat.bourbon.io told me to do this -->
		<div class="this">
			<aside>
				<img src="http://placehold.it/438x230" alt="">
			</aside>
			<article>
				<h1>Animate easily</h1>
				<p>Dopey is designed to let you start animating as quickly as possible, while still offering advanced features.</p>
			</article>
		</div>
		<div class="this">
			<article>
				<h1>Animate well</h1>
				<p>Because Dopey is based on <a href="http://mypaint.intilinux.com/">MyPaint</a>, it inherits its powerful brush engine and fantastic user interface that doesn't get in your way.</p>
				<div class="calltoaction">{{#linkTo 'features'}}See Features{{/linkTo}}</div>
			</article>
			<aside>
				<img src="http://placehold.it/438x230" alt="">
			</aside>
		</div>
	</div>
</section>